@import '~@fluentui/react/dist/sass/References.scss';


:global(.root-178) {
  background: none !important;
  background-color: black !important;
}

:global(.root-149.root-149.root-149.root-149.root-149) {
  background: none !important;
  background-color: black !important;
}


.bPageCount {
  display: none;
  width: 0px;
  height: 0px;
}

