@import '~@fluentui/react/dist/sass/References.scss';

.bmaster {
    overflow: hidden;
    padding: 1em;
    color: "[theme:bodyText, default: #323130]";
    color: var(--bodyText);

    &.teams {
        font-family: $ms-font-family-fallbacks;
    }
}


.ContainerBmaster {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    background-color: #000;
    direction: rtl;
}

div {
    box-sizing: border-box;
}

.imgSlogen {
    width: 85%;
    max-width: 500px;
}

.upperMenu {
    float: right;
    width: 100%;
    height: 177px;
    text-align: center
}

.upperMenu .logo {
    float: right;
    width: 33.33%;
    cursor: pointer;
}

.upperMenu .slogen {
    float: right;
    width: 33.33%;
    height: 100%;
    font-size: 53px;
    margin-top: 53px;
    color: white
}

.upperMenu .search {
    float: right;
    width: 33.33%;
    height: 100%;
    font-size: 53px;
    margin-top: 68px;
    color: white
}

.upperMenu .search .inner {
    float: right;
    width: 80%;
    height: 40px;
    border: 1px solid #AAAAAA;
    border-radius: 20px;
    background-color: white
}

.upperMenu .search .inner .micro {
    float: right;
    width: 10%;
    height: 100%;
    background-image: url('https://bezeq365.sharepoint.com/sites/Bmaster/SiteAssets/Bmaster/cut/micro.png');
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    cursor: pointer;
}

.upperMenu .search .inner .magni {
    float: right;
    width: 10%;
    height: 100%;
    background-image: url('https://bezeq365.sharepoint.com/sites/Bmaster/SiteAssets/Bmaster/cut/magni.png');
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    cursor: pointer;
}

.upperMenu .search .inner .input {
    float: right;
    width: 80%;
    height: 100%;
    text-align: center;
    margin-top: -25px
}

.upperMenu .search .inner .input input {
    width: 100%;
    height: 30px;
    border: 0px;
    text-align: right
}

.upperMenu .mobileMenu {
    display: none;
}

.upperMenu .mobileSearch {
    display: none;
}

/*topSeperator*/

.topSeperator {
    float: right;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    border-top: 1px solid #5ce0e5;
}

.topSeperator .right {
    float: right;
    width: 60%;
    height: 20px;

}

.topSeperator .center {
    float: right;
    width: 20%;
    height: 20px;
    text-align: center
}

.topSeperator .left {
    float: right;
    width: 20%;
    height: 20px;
    margin-top: 20px;

}

.topSeperator .right_courses {
    float: right;
    margin-left: 20px;
    height: 20px;
    color: white;
    font-size: 1.5rem;
}

.topSeperator .center_courses {
    float: right;
    height: 54px;
    width: 428px;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    text-align: right;
    background-image: url('https://bezeq365.sharepoint.com/sites/Bmaster/SiteAssets/Bmaster/cut/arrow_new.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100% 24px;

}

.topSeperator .left_courses {
    float: right;
    width: 30%;
    height: 20px;
    margin-top: 20px;

}

.topSeperator .right_oneCourse {
    float: right;
    width: 20%;
    height: 20px;

}

.topSeperator .center_oneCourse {
    float: right;
    width: 30%;
    height: 20px;
    text-align: center
}

.topSeperator .left_oneCourse {
    float: right;
    width: 50%;
    height: 20px;
    margin-top: 20px;
    border-top: 2px solid white
}



@media only screen and (max-width: 1800px) {
    .topSeperator .right_courses {
        width: 35%;

    }

    .topSeperator .center_courses {
        width: 35%;

    }


}

@media only screen and (max-width: 1600px) {
    .slideShow .inner {
        width: 1280px;

    }

    .topSeperator .right_courses {
        width: 28%;
    }

    .topSeperator .center_courses {
        width: 42%;
    }

    .coursesSection .inner {
        margin: 0px auto;
        width: 1280px
    }

    .coursesSection .oneCourse {
        width: 25%;
    }


}

@media only screen and (max-width: 1280px) {
    .slideShow .inner {
        width: 992px;
    }

    .sections {
        height: 576px;
    }

    .sections .inner .oneItem {
        width: 56%;
        margin-right: -6%;
        background-size: auto 100%;
        height: 45%;
        margin-bottom: 5%;
    }

    .sections .inner .oneItem .text {
        text-align: center;
    }

    .topSeperator .right_courses {
        width: 25%;
    }

    .topSeperator .center_courses {
        width: 55%;
    }

    .topSeperator .left_courses {
        width: 20%;
    }

    .coursesSection .inner {
        margin: 0px auto;
        width: 992px
    }

    .coursesSection .oneCourse {
        width: 33.33%;
    }

    .coursesSection .smallButton {
        padding-right: 85px;
    }
}

@media only screen and (max-width: 992px) {
    .ContainerBmaster {
        background-image: none;
        background-color: #000033;
    }

    .upperMenu {
        height: 255px;
    }

    .upperMenu .logo {
        width: 100%;
        height: 50%;
    }

    .upperMenu .slogen {
        width: 70%;
        height: 80%;
        font-size: 1.66rem;
    }

    .upperMenu .search {
        float: right;
        font-size: 53px;
        height: auto;
        margin-top: 0px;
        /* width: 33.33%; */
        margin-top: -100px;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    

    .upperMenu .mobileMenu,
    .upperMenu .mobileSearch {
        display: inline;
        float: right;
        width: 15%;
        text-align: center;
        margin-top: 50px
    }

    .topSeperator {
        border-bottom: 1px solid #FFFFFF;
    }

    .topSeperator .right,
    .topSeperator .left,
    .topSeperator .right_courses,
    .topSeperator .left_courses {
        display: none;
    }

    .topSeperator .center,
    .topSeperator .center_courses {
        float: none;
        margin: 0px auto;
        width: 70%;
        height: 60px;
        background-color: #000033;
    }

    .topSeperator .center_courses .text {
        display: none;
    }

    .slideShow {
        height: auto;
    }

    .slideShow .inner {
        width: 90%;
    }

    .slideShow .inner .left {
        width: 100%;
    }

    .slideShow .inner .left .rightArrow {
        display: none
    }

    .slideShow .inner .left .images {
        width: 100%;
    }

    .slideShow .inner .left .images .gallery .oneImage .text {
        width: 100%;
    }

    .slideShow .inner .left .leftArrow {
        display: none
    }

    .slideShow .inner .right {
        width: 100%;
    }

    .sections {
        height: auto;
    }

    .sections .inner {
        width: 100%;
    }

    .sections .inner .oneItem {
        width: 100%;
        height: 288px;
        margin-bottom: 20px;
        background-position: center top;
    }

    .sections .inner .oneItem .text {
        margin-right: -10%;
    }

    .coursesSection .inner {
        margin: 0px auto;
        width: 720px
    }

    .coursesSection .oneCourse {
        width: 50%;
    }

    .coursesSection .smallButton {
        padding-right: 85px;
    }

    .coursesSection .right {
        width: 100%;
        margin-top: 50px;
    }

    .coursesSection .left {
        width: 100%;

        text-align: center;
    }
}


@media only screen and (max-width: 768px) {
    .coursesSection .inner {
        margin: 0px auto;
        width: 600px
    }

    .coursesSection .oneCourse {
        width: 50%;

    }

    .coursesSection .smallButton {
        padding-right: 85px;
    }
}

@media only screen and (max-width: 640px) {
    .coursesSection .inner {
        margin: 0px auto;
        width: 450px
    }

    .coursesSection .oneCourse {
        width: 50%;
        background-size: 100%;
        height: 220px;

    }

    .coursesSection .courseName {
        margin-top: 70px;
        font-size: 0.8rem
    }

    .coursesSection .smallButton {
        background-size: 90%;
        margin-top: 50px;
        font-size: 0.8rem
    }

    .coursesSection .smallButton {
        padding-right: 155px;
    }

    .upperMenu .search .inner .micro {
        display: none;
    }
    .upperMenu .search .inner .input {
        margin-right: 10px;
}

}

@media only screen and (max-width: 480px) {
    .coursesSection .inner {
        margin: 0px auto;
        width: 300px
    }

    .coursesSection .oneCourse {
        width: 50%;
    }

    .coursesSection .smallButton {
        padding-right: 15px;
    }

    .coursesSection .right .buttons .inner {
        width: 90%;
        float: right;
    }
    .upperMenu .search {
        display: none;
    }
    .upperMenu .search.mobileVisible {
        float: right;
        font-size: 53px;
        height: auto;
        margin-top: 0px;
        /* width: 33.33%; */
        margin-top: -150px;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
}


div[id="sp-appBar"],
div[id="spSiteHeader"] {
    display: none !important;
}