@import '~@fluentui/react/dist/sass/References.scss';

body {
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size:18px;
    direction:rtl;
}

div{
    box-sizing:border-box;
}

.SPPageChrome{background-color:#000 !important;}


/*courses and oneCourse*/

.coursesSection {
    float: right;
    width: 100%;
    padding: 50px;
    margin-top:20px;
}

    .coursesSection .inner {
        margin: 0px auto;
        width: 1520px
    }

    /*only courses*/

    .coursesSection .oneCourse {
        float: right;
        width: 20%;
        height: 340px;
        background-repeat: no-repeat;
        background-position: top center
    }
    

    .coursesSection .courseName {
        float: right;
        width: 100%;
        height: 56px;
        margin-top: 130px;
        background-image: url('https://bezeq365.sharepoint.com/sites/Bmaster/SiteAssets/Bmaster/cut/black_panel_pic_small.png');
        background-repeat: no-repeat;
        background-position: 43.3% top;
        font-size: 1.1rem;
        color: #adf9ff;
        text-align: center;
        padding-top: 10px;
    }

    .coursesSection .smallButton {
        float: right;
        width: 100%;
        height: 21px;
        margin-top: 80px;
        background-image: url('https://bezeq365.sharepoint.com/sites/Bmaster/SiteAssets/Bmaster/cut/button_small.png');
        background-repeat: no-repeat;
        background-position: 40% top;
        padding-right: 80px;
        cursor: pointer;
    }

    /*only one course*/

    .coursesSection .right {
        float: left;
        width: 60%;
        color: white
    }

        .coursesSection .right .title {
            float: right;
            width: 100%;
            font-size: 2.1rem
        }

        .coursesSection .right .text {
            float: right;
            width: 80%
        }

        .coursesSection .right .buttons {
            float: right;
            width: 100%;
            text-align: center;
            color: #000000
        }

            .coursesSection .right .buttons .inner {
                margin: 0px auto;
                width: 425px
            }

            .coursesSection .right .buttons .oneButton {
                float: right;
                width: 100%;
                height: 38px;
                font-size:1.2rem;
                background-image: url('https://bezeq365.sharepoint.com/sites/Bmaster/SiteAssets/Bmaster/cut/button.png');
                margin-top: 30px;
                padding-top: 6px;
                cursor:pointer;
            }

    .coursesSection .left {
        float: left;
        width: 40%;
    }

    .coursesSection .left img{
        max-width:100%;
    }

    /*thank you*/
    .innerThanks {
        margin: 0px auto;
        width: 800px
    }
    .r100 {
        float: right;
        width: 100%;
        text-align:center;
    }
    
    .r100 img{
        width:80%;
    }

    .thanksLine {
        float: right;
        margin-top: -150px;
        height: 104px;
        width: 100%;
        background-image: url('https://bezeq365.sharepoint.com/sites/Bmaster/SiteAssets/Bmaster/cut/line_black_pic2.png');
        color: #0ed8ff;
        font-size: 2.5rem;
        text-align: center;
        padding-top: 25px;
    }
    
    .thanksText {
        float: right;
        width: 100%;
        color: white;
        margin-top: -100px
    }
    
    .thanksMessage {
        float: right;
        width: 100%;
        font-size: 90px;
        text-align: center;
        margin-top: 100px
    }
    
    .thanksDate {
        float: right;
        width: 100%;
        font-size: 60px;
        text-align: center
    }

    .saveTheDay {
        float: right;
        width: 100%;
        height: 333px;
        margin-top: -400px;
        background-image: url('https://bezeq365.sharepoint.com/sites/Bmaster/SiteAssets/Bmaster/cut/save_the_date.png');
        background-position: 100% center;
        background-repeat: no-repeat;
        background-size: 40%;
        position: relative;
    }

    @media only screen and (max-width: 1800px) {
        .topSeperator .right_courses {
            width: 35%; 
        }
    
        .topSeperator .center_courses {
            width: 35%;    
        }
    
        .topSeperator .right_oneCourse {
            width: 35%;
        }
    
        .topSeperator .center_oneCourse {
            width: 35%;
        }
    
        
    }
    
    
    @media only screen and (max-width: 1600px) {
        .slideShow .inner {
            width: 1280px;
            
        }
    
        .topSeperator .right_courses {
            width: 28%;
        }
    
        .topSeperator .center_courses {
            width: 42%;
        }
    
        .topSeperator .right_oneCourse {
            width: 28%;
        }
    
        .topSeperator .center_oneCourse {
            width: 42%;
        }
    
        .coursesSection .inner {
            margin: 0px auto;
            width: 1280px
        }
    
        .coursesSection .oneCourse {
            width: 25%;
        }
    
        
    }
    
    @media only screen and (max-width: 1280px) {
        .slideShow .inner {
            width: 992px;
        }
    
        .sections {
            height: 576px;
        }
    
        .sections .inner .oneItem {
            width: 56%;
            margin-right: -6%;
            background-size:auto 100%;
            height: 45%;
            margin-bottom:5%;
        }
    
            .sections .inner .oneItem .text {
                text-align:center;
            }
    
        .topSeperator .right_courses {
            width: 25%;
        }
    
        .topSeperator .center_courses {
            width: 55%;
        }
    
        .topSeperator .left_courses {
            width: 20%;
        }
    
        .topSeperator .right_oneCourse {
            width: 25%;
        }
    
        .topSeperator .center_oneCourse {
            width: 55%;
        }
    
        .topSeperator .left_oneCourse {
            width: 20%;
        }
    
        .coursesSection .inner {
            margin: 0px auto;
            width: 992px
        }
    
        .coursesSection .oneCourse {
            width: 33.33%;
        }
    
        .coursesSection .smallButton {
            padding-right:85px;
        }
    
        .leftRegister .register {
            width: 33.33%;
            
        }
    }
    
    @media only screen and (max-width: 992px) {
        .ContainerBmaster {
            background-image: none;
            background-color: #000033;
        }
        .innerThanks {
            width: auto;
        }
    
        .upperMenu {
            height: 255px;
        }
    
            .upperMenu .logo {
                width: 100%;
                height: 50%;
            }
    
            .upperMenu .slogen {
                width: 70%;
                height: 80%;
                font-size: 1.66rem;
            }
    
            .upperMenu .search {
                display: none;
            }
    
            .upperMenu .mobileMenu, .upperMenu .mobileSearch {
                display: inline;
                float: right;
                width: 15%;
                text-align: center;
                margin-top: 50px
            }
    
        .topSeperator {
            border-bottom: 1px solid #FFFFFF;
        }
    
            .topSeperator .right, .topSeperator .left, .topSeperator .right_courses, .topSeperator .left_courses, .topSeperator .right_oneCourse, .topSeperator .left_oneCourse {
                display: none;
            }
    
            .topSeperator .center, .topSeperator .center_courses {
                float: none;
                margin: 0px auto;
                width: 70%;
                height: 60px;
                background-color: #000033;
            }
    
                .topSeperator .center_courses .text{
                    display:none;
                }
    
            .topSeperator .center, .topSeperator .center_oneCourse {
                float: none;
                margin: 0px auto;
                width: 70%;
                height: 60px;
                background-color: #000033;
            }
    
                .topSeperator .center_oneCourse .text {
                    display: none;
                }
    
            .slideShow {
                height: auto;
            }
    
            .slideShow .inner {
                width: 90%;
            }
    
                .slideShow .inner .left {
                    width: 100%;
                }
    
                    .slideShow .inner .left .rightArrow {
                        display: none
                    }
    
                    .slideShow .inner .left .images {
                        width: 100%;
                    }
    
                        .slideShow .inner .left .images .gallery .oneImage .text {
                            width: 100%;
                        }
    
                    .slideShow .inner .left .leftArrow {
                        display: none
                    }
    
                .slideShow .inner .right {
                    width: 100%;
                }
    
        .sections {
            height: auto;
        }
    
            .sections .inner {
                width: 100%;
            }
    
                .sections .inner .oneItem {
                    width: 100%;
                    height: 288px;
                    margin-bottom: 20px;
                    background-position: center top;
                }
    
                    .sections .inner .oneItem .text {
                        margin-right: -10%;
                    }
    
        .coursesSection .inner {
            margin: 0px auto;
            width: 720px
        }
    
        .coursesSection .oneCourse {
            width: 50%;
        }
    
        .coursesSection .smallButton {
            padding-right: 85px;
        }
    
        .coursesSection .right {
            width: 100%;
            margin-top: 50px;
        }
    
        .coursesSection .left {
            width: 100%;
            
            text-align:center;
        }
    
        .thanksMessage{
            font-size:50px;
        }
    
        .thanksDate{
            font-size:30px;
            // direction: ltr;
        }
    
        .rightRegister, .leftRegister {
            width: 100%
        }
    
            .rightRegister .mainPic {
                width: 50%;
                
            }
    
            .rightRegister .sil_chairs {
                width:50%;
            }
    
            .rightRegister .silabus {
                width: 100%;
                
            }
    
            .rightRegister .title {
                width: 100%;
                font-size: 14px;
                margin-left:20px;
                text-align:center;
            }
    
            .rightRegister .subTitle {
                width: 100%;
                font-size: 14px;
                margin-left: 20px;
                text-align: center;
            }
    
            .bottomRegister{
                width:100%;
                margin-right:0px;
                margin-top:10px;
            }
    
            .anotherCourse{
                width:50%;
            }
    }
    
    
    @media only screen and (max-width: 768px) {
        .coursesSection .inner {
            margin: 0px auto;
            width: 600px
        }
    
        .coursesSection .oneCourse {
            width: 50%;
            
        }
    
        .coursesSection .smallButton {
            padding-right: 85px;
        }
    }
    
    @media only screen and (max-width: 640px) {
        .coursesSection .inner {
            margin: 0px auto;
            width: 450px
        }
    
        .coursesSection .oneCourse {
            width: 50%;
            background-size: 100%;
            height:220px;
    
        }
        .saveTheDay {
            display: none;
        }
    
        .coursesSection .courseName {
            margin-top: 70px;
            font-size:0.8rem
        }
    
        .coursesSection .smallButton {
            background-size:90%;
            margin-top:50px;
            font-size:0.8rem
        }
    
        .coursesSection .smallButton {
            padding-right: 155px;
        }
    
        .leftRegister .register {
            width: 50%;
            
        }
    
        .anotherCourse {
            width: 100%;
        }
    }
    
    @media only screen and (max-width: 480px) {
        .coursesSection .inner {
            margin: 0px auto;
            width: 300px
        }
        .thanksLine {
            height: 80px;
            font-size: 2rem;
            padding-top: 15px;
            margin-top: -120px;
        }
    
        .coursesSection .oneCourse {
            width: 50%;
        }
    
        .coursesSection .smallButton {
            padding-right: 15px;
        }
    
        .coursesSection .right .buttons .inner {
            width: 90%;
            float:right;
        }
    }

    @media only screen and (max-width: 380px) {

        .thanksLine {
            height: 60px;
            font-size: 2rem;
            padding-top: 10px;
            margin-top: -100px;
        }
    }
    @media only screen and (max-width: 340px) {

        .thanksLine {
            height: 50px;
            font-size: 1.5rem;
            padding-top: 5px;
            margin-top: -80px;
        }
    }
    
    
    
    