@import '~@fluentui/react/dist/sass/References.scss';

body {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 18px;
    direction: rtl;
    background-color: #000000;
}

[data-viewport-id^="Page.CommentsWrapper"] {
    display: none !important;
}


div {
    box-sizing: border-box;
}

.topSeperator {
    border-top: 1px solid #5ce0e5;
}

img.max {
    max-width: 100%
}

.r100 {
    float: right;
    width: 100%;
    text-align: center;
    // display: contents;
}

.r100 img {
    width: 80%;
}

/*register*/

.rightRegister {
    float: right;
    width: 20%
}

.rightRegister .mainPic {
    float: right;
    width: 100%;
    margin-top: 20px
}

.rightRegister .sil_chairs {
    float: right;
    width: 100%;
}

.rightRegister .sil_chairs .showChairs {
    float: right;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    color: #5ce0e5
}

.rightRegister .silabus {
    float: right;
    width: 100%;
    height: 33px;
    background-image: url('https://bezeq365.sharepoint.com/sites/Bmaster/SiteAssets/Bmaster/cut/silabous.png');
    background-position: center top;
    background-repeat: no-repeat;
    margin-top: 20px;
    text-align: center;
    padding-top: 1px;
    font-size: 24px
}

.rightRegister .title {
    float: right;
    width: 100%;
    font-size: 35px
}

.rightRegister .subTitle {
    float: right;
    width: 100%;
    font-size: 48px
}

.leftRegister {
    float: right;
    width: 70%;
    margin-right: 5%;
}

.leftRegister .register {
    float: right;
    width: 18%;
    margin-left: 2.5%;
    height: 220px;
    margin-bottom: 20px;
    background-color: white;
    cursor: pointer;
}

.leftRegister .register:nth-child(5n) {
    margin-left: 0px;
}


.bottomRegister {
    float: right;
    width: 100%;
    margin-top: 20px
}

.bottomRegister .overLine {
    float: right;
    width: 100%;
    text-align: left
}

.anotherCourse {
    float: right;
    width: 25%;
    cursor: pointer;
}

.anotherCourse .pic {
    float: right;
    width: 90%;
    margin-right: 5%
}

.anotherCourse .theName {
    float: right;
    width: 50%;
    margin-right: 20%;
    text-align: center;
    color: white
}

img.max {
    max-width: 100%
}

.register .internal {
    float: right;
    width: 100%; //60%;
    height: 161px;
    color: black;
    // margin-right: 20%;
    text-align: center;
}

.register .internal .title {
    float: right;
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    min-height: 90px;
}

.register .internal .date {
    float: right;
    width: 100%;
    font-size: 20px;
    margin-top: 1px;
    direction: rtl;
}

.register .internal .hour {
    float: right;
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
    direction: rtl;
    white-space: nowrap;
}

.register .internal .toRegister {
    color: white;
    margin: 10px;
    font-size: 18px;
    // float: left;
    border-radius: 15px;
    height: 100%;
    width: 45%;
    background-color: black;
}

.register .internal .participants {
    float: right;
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.register .internal .participants .total {
    float: right;
    width: 18%;
    margin-left: 2%;
    text-align: left
}

.register .internal .participants .listed {
    float: right;
    width: 18%;
    margin-right: 2%;
    text-align: right
}

.register .internal .participants .area {
    float: right;
    width: 40%;
    height: 14px;
    border: 1px solid black;
    border-radius: 7px;
    margin-top: 4px
}

.register .internal .participants .area .filled {
    float: left;
    border-radius: 7px;
    height: 100%;
    width: 38%;
    background-color: #5ce0e5;
}

.register .doIt {
    float: right;
    width: 100%;
    height: 30px;
    background-image: url('https://bezeq365.sharepoint.com/sites/Bmaster/SiteAssets/Bmaster/cut/empty_panel.png');
    background-position: 38% 10px;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 7px
}

.registerSeperator {
    float: right;
    width: 100%;
    text-align: left
}

.bottomRegister .title {
    float: right;
    // width: 100%;
    font-size: 32px;
    color: white;
    text-align: right;
}

.bottomRegister .courses {
    float: right;
    width: 100%;
    margin-top: 20px
}

/*courses and oneCourse*/

.coursesSection {
    float: right;
    width: 100%;
    padding: 50px;
    margin-top: 20px;
}

.coursesSection .inner {
    margin: 0px auto;
    width: 1520px
}

/*only courses*/

.coursesSection .oneCourse {
    float: right;
    width: 20%;
    height: 340px;
    background-repeat: no-repeat;
    background-position: top center
}


.coursesSection .courseName {
    float: right;
    width: 100%;
    height: 56px;
    margin-top: 130px;
    background-image: url('https://bezeq365.sharepoint.com/sites/Bmaster/SiteAssets/Bmaster/cut/black_panel_pic_small.png');
    background-repeat: no-repeat;
    background-position: 43.3% top;
    font-size: 1.1rem;
    color: #adf9ff;
    text-align: center;
    padding-top: 10px;
}

.coursesSection .smallButton {
    float: right;
    width: 100%;
    height: 21px;
    margin-top: 80px;
    background-image: url('https://bezeq365.sharepoint.com/sites/Bmaster/SiteAssets/Bmaster/cut/button_small.png');
    background-repeat: no-repeat;
    background-position: 40% top;
    padding-right: 80px;
    cursor: pointer;
}

/*only one course*/

.coursesSection .right {
    float: left;
    width: 60%;
    color: white
}

.coursesSection .right .title {
    float: right;
    width: 100%;
    font-size: 2.1rem
}

.coursesSection .right .text {
    float: right;
    width: 80%
}

.coursesSection .right .buttons {
    float: right;
    width: 100%;
    text-align: center;
    color: #000000
}

.coursesSection .right .buttons .inner {
    margin: 0px auto;
    width: 425px
}

.coursesSection .right .buttons .oneButton {
    float: right;
    width: 100%;
    height: 38px;
    font-size: 1.2rem;
    background-image: url('https://bezeq365.sharepoint.com/sites/Bmaster/SiteAssets/Bmaster/cut/button.png');
    margin-top: 30px;
    padding-top: 6px;
    cursor: pointer;
}

.coursesSection .left {
    float: left;
    width: 40%;
}

.coursesSection .left img {
    max-width: 100%;
}


@media only screen and (max-width: 1925px) {
    .topSeperator .right_courses {
        width: 35%;
    }

    .topSeperator .center_courses {
        width: 35%;
    }

    .topSeperator .right_oneCourse {
        width: 35%;
    }

    .topSeperator .center_oneCourse {
        width: 35%;
    }

    .leftRegister .register {
        height: 240px;
    }


}

@media only screen and (max-width: 1925px) {
    .topSeperator .right_courses {
        width: 35%;
    }

    .topSeperator .center_courses {
        width: 35%;
    }

    .topSeperator .right_oneCourse {
        width: 35%;
    }

    .topSeperator .center_oneCourse {
        width: 35%;
    }

    .leftRegister .register {
        height: 240px;
    }


}


@media only screen and (max-width: 1600px) {
    .slideShow .inner {
        width: 1280px;

    }

    .topSeperator .right_courses {
        width: 28%;
    }

    .topSeperator .center_courses {
        width: 42%;
    }

    .topSeperator .right_oneCourse {
        width: 28%;
    }

    .topSeperator .center_oneCourse {
        width: 42%;
    }

    .coursesSection .inner {
        margin: 0px auto;
        width: 1280px
    }

    .coursesSection .oneCourse {
        width: 25%;
    }

    .leftRegister .register {
        width: 23.33%;

    }


}

@media only screen and (max-width: 1280px) {
    .slideShow .inner {
        width: 992px;
    }

    .sections {
        height: 576px;
    }

    .sections .inner .oneItem {
        width: 56%;
        margin-right: -6%;
        background-size: auto 100%;
        height: 45%;
        margin-bottom: 5%;
    }

    .sections .inner .oneItem .text {
        text-align: center;
    }

    .topSeperator .right_courses {
        width: 25%;
    }

    .topSeperator .center_courses {
        width: 55%;
    }

    .topSeperator .left_courses {
        width: 20%;
    }

    .topSeperator .right_oneCourse {
        width: 25%;
    }

    .topSeperator .center_oneCourse {
        width: 55%;
    }

    .topSeperator .left_oneCourse {
        width: 20%;
    }

    .coursesSection .inner {
        margin: 0px auto;
        width: 992px
    }

    .coursesSection .oneCourse {
        width: 33.33%;
    }

    .coursesSection .smallButton {
        padding-right: 85px;
    }

    .leftRegister .register {
        width: 33.33%;

    }
}

@media only screen and (max-width: 992px) {
    .ContainerBmaster {
        background-image: none;
        background-color: #000033;
    }

    .upperMenu {
        height: 255px;
    }

    .upperMenu .logo {
        width: 100%;
        height: 50%;
    }

    .upperMenu .slogen {
        width: 70%;
        height: 80%;
        font-size: 1.66rem;
    }

    .upperMenu .search {
        display: none;
    }

    .upperMenu .mobileMenu,
    .upperMenu .mobileSearch {
        display: inline;
        float: right;
        width: 15%;
        text-align: center;
        margin-top: 50px
    }

    .topSeperator {
        border-bottom: 1px solid #FFFFFF;
    }

    .topSeperator .right,
    .topSeperator .left,
    .topSeperator .right_courses,
    .topSeperator .left_courses,
    .topSeperator .right_oneCourse,
    .topSeperator .left_oneCourse {
        display: none;
    }

    .topSeperator .center,
    .topSeperator .center_courses {
        float: none;
        margin: 0px auto;
        width: 70%;
        height: 60px;
        background-color: #000033;
    }

    .topSeperator .center_courses .text {
        display: none;
    }

    .topSeperator .center,
    .topSeperator .center_oneCourse {
        float: none;
        margin: 0px auto;
        width: 70%;
        height: 60px;
        background-color: #000033;
    }

    .topSeperator .center_oneCourse .text {
        display: none;
    }

    .slideShow {
        height: auto;
    }

    .slideShow .inner {
        width: 90%;
    }

    .slideShow .inner .left {
        width: 100%;
    }

    .slideShow .inner .left .rightArrow {
        display: none
    }

    .slideShow .inner .left .images {
        width: 100%;
    }

    .slideShow .inner .left .images .gallery .oneImage .text {
        width: 100%;
    }

    .slideShow .inner .left .leftArrow {
        display: none
    }

    .slideShow .inner .right {
        width: 100%;
    }

    .sections {
        height: auto;
    }

    .sections .inner {
        width: 100%;
    }

    .sections .inner .oneItem {
        width: 100%;
        height: 288px;
        margin-bottom: 20px;
        background-position: center top;
    }

    .sections .inner .oneItem .text {
        margin-right: -10%;
    }

    .coursesSection .inner {
        margin: 0px auto;
        width: 720px
    }

    .coursesSection .oneCourse {
        width: 50%;
    }

    .coursesSection .smallButton {
        padding-right: 85px;
    }

    .coursesSection .right {
        width: 100%;
        margin-top: 50px;
    }

    .coursesSection .left {
        width: 100%;

        text-align: center;
    }

    .thanksMessage {
        font-size: 50px;
        margin-top: 50px;
    }

    .thanksDate {
        font-size: 30px;
    }

    .rightRegister,
    .leftRegister {
        width: 100%
    }

    .rightRegister .mainPic {
        width: 50%;

    }

    .rightRegister .sil_chairs {
        width: 50%;
    }

    .rightRegister .silabus {
        width: 100%;

    }

    .rightRegister .title {
        width: 100%;
        font-size: 14px;
        margin-left: 20px;
        text-align: center;
    }

    .rightRegister .subTitle {
        width: 100%;
        font-size: 14px;
        margin-left: 20px;
        text-align: center;
    }

    .bottomRegister {
        width: 100%;
        margin-right: 0px;
        margin-top: 10px;
    }

    .anotherCourse {
        width: 50%;
    }
}


@media only screen and (max-width: 768px) {
    .coursesSection .inner {
        margin: 0px auto;
        width: 600px
    }

    .coursesSection .oneCourse {
        width: 50%;

    }

    .coursesSection .smallButton {
        padding-right: 85px;
    }
}

@media only screen and (max-width: 663px) {
    .coursesSection .inner {
        margin: 0px auto;
        width: 450px
    }

    .coursesSection .oneCourse {
        width: 50%;
        background-size: 100%;
        height: 220px;

    }

    .coursesSection .courseName {
        margin-top: 70px;
        font-size: 0.8rem
    }

    .coursesSection .smallButton {
        background-size: 90%;
        margin-top: 50px;
        font-size: 0.8rem
    }

    .coursesSection .smallButton {
        padding-right: 155px;
    }

    .leftRegister .register {
        width: 50%;

    }

    .anotherCourse {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .coursesSection .inner {
        margin: 0px auto;
        width: 300px
    }

    .register .internal .hour {
        float: right;
        width: 100%;
        font-size: 18px;
        margin-top: 10px;
        direction: rtl;
        white-space: normal;
    }

    .register .internal .toRegister {
        width: 55%;
    }

    .coursesSection .oneCourse {
        width: 50%;
    }

    .coursesSection .smallButton {
        padding-right: 15px;
    }

    .coursesSection .right .buttons .inner {
        width: 90%;
        float: right;
    }

    .rightRegister .mainPic {
        margin-top: 0px;
    }

    .rightRegister {
        margin-bottom: 30px;
    }

    .leftRegister {
        margin-right: 0px;
    }

    // .register .internal .participants {
    //     display: none;
    // }
    .register .internal .title {
        font-size: 18px;
    }

    .register .internal .date {
        font-size: 18px;
    }
}

@media only screen and (max-width: 384px) {
    .leftRegister .register {
        height: 260px;
    }
}

@media only screen and (max-width: 372px) {
    .register .internal .toRegister {
        width: 65%;
    }
}

@media only screen and (max-width: 340px) {
    .register .internal .toRegister {
        width: 75%;
    }
}